In [ ]:
nombre = "ronald"
edad = 20
altura = 1.75


print(nombre, edad, altura)
print(type(nombre), type(edad), type(altura))

In [ ]:

# ejercicio: si es menor a 10 elevar el numero al cuadrado caso contrario elevar al cubo
def potenciacion(num1):
    if num1 < 10:
        return num1**2
    else:
        return num1**3


print(f"el resultado es: {potenciacion(20)}")

In [ ]:
num1 = int(input("ingrese el numero 1 -> "))
num2 = int(input("ingrese el numero 2 -> "))
suma = num1 + num2

print(f"la suma es {suma}")

### **condicionales**

In [ ]:
num1 = int(input("igrese el numero 1: "))
if num1 < 10:
    potencia = num1**2
    # potencia es igual a num1 por num1
else:
    potencia = num1**3
    # potencia es igual a num1 por num1 por num1
print(f"la potecia es: {potencia}")

### **bucle for**

In [ ]:
num1 = int(input("ingrese el numero base"))
num2 = int(input("ingrese el numero tope"))


for i in range(num1, num2 + 1):
    print(i)

### **funciones**

In [ ]:
def potencia(base, exponente):
    if exponente % 2 == 0:
        print("el exponente es par")
    else:
        print("el ecponente es impar")
    potencia = 1
    for i in range(exponente):
        potencia = potencia * base
    print(f"el resultado de la potencia es: {potencia}")

potencia(5, 3)

### **dunciones lambda nivel basico**
##### **funcion tradicional**

In [ ]:
# funcion que me devuelve el cuadrado de un numero
def funcioncuadrado(num1):
    return num1**2

print(f"el resultado es {funcioncuadrado(4)}")

##### **ejercicio: si el nimero ingresado es menor a 10 se potenciara al cuadrado y si es mayo a 10 se potenciara al cubo**

In [ ]:
def potenciacion(num1):
    if num1 < 10:
        return num1**2
    else:
        return num1**3

print(f"el resultado es: {potenciacion(20)}")


#segunda forma
potenciacion = lambda num1: num1**2 if num1 < 10 else num1**3

print(f"el resultado es: {potenciacion(20)}")

##### **ejercicio: la funcion recibira como parametros la base y el exponente**

In [ ]:
potenciacion = lambda base, exponente: base ** exponente

print(f"el resultado es: {potenciacion(10, 2)}")

In [ ]:
#listas, tuplas y diccionarios
#mutabilidad(listas y diccionarios) e inmitabilidad(tupla)
#lista
notas = [14,15, 12, 20, 16, 22, 49]
nombre = ['juan', 'marcus', 'laia', 'norka']
mix = [False, 13.5, '´karla', 34, ['blue','red','green']]
notas,nombre, mix

In [ ]:
notas.append(12)
notas

In [ ]:
print(f"notas: {notas}")
print(f'notas: {notas[0]}')
print(f'notas: {notas[1:4]}')
print(f'notas: {notas[-1]}')
print(f'notas: {notas[-1]}')
print(f'notas: {notas[:4]}')
print(f'notas: {notas[4:]}')
print(f'notas: {notas[:]}')

In [ ]:
#definir tuplas
colores = ('red', 'yellow', 'green', 'blue', 'pink')
print(colores)
print(colores[3])
print(colores[4])
print(colores[1:3])
print(colores[:3])

In [ ]:
#diccionarios
diccionarios = {
    'ruben': 34.4, 'jaime':45.3, 'nicole':40.2, 'lisa':2.4
}
print(diccionarios)
print(f'diccionerio ["jaime"]: {diccionarios["jaime"]}')

In [2]:
#list comprehension
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

#retornar el doble de los elementos
double_numbers = [numero*2 for numero in numbers]
print(numbers)
print(double_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [3]:
# sintaxis: list comprehension
# [expresion for item in list if condition == True]

pares = [num for num in numbers if num % 2 == 0]
impares = [num for num in numbers if num % 2 != 0]
imparesconrango = [num for num in range(1,7) if num % 2 != 0]

print(numbers)
print(pares)
print(impares)
print(imparesconrango)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[2, 4, 6, 8, 10, 12]
[1, 3, 5, 7, 9, 11]
[1, 3, 5]

pyspark

In [11]:
from pyspark.sql import SparkSession

# Crear una sesión de Spark
spark = SparkSession.builder.appName("ExampleApp").getOrCreate()

# Crear un DataFrame
df = spark.createDataFrame([{"saludar": "hola mundo"} for _ in range(10)])

# Mostrar el DataFrame
df.show()

ModuleNotFoundError: No module named 'pyspark.sql'